<div class="card shadow mb-3">
    <div class="card-body mx-auto ">	
        <h1>Welcome to Open Library</h1>
        <%= link_to 'See Available Books', posts_path ,class:"btn btn-outline-primary btn-lg mb-3 mx-auto"%>
        <%= link_to 'Upcoming Books', posts_path ,class:"btn btn-outline-primary btn-lg mb-3 mx-auto"%><br>


        <% if current_user %>
        <% else %>
        <%= link_to 'Sign up', new_user_registration_path, class:"btn btn-primary" %>
        <%= link_to 'Sign in', new_user_session_path,  class:"btn btn-primary " %>
        <%end%>
    </div>
</div>
