<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/pages" ><h3>Open Library</h3></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/pages"><h5>Home</h5> <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/posts"><h5>Available Books</h5></a>
       </li> 
        <li class="nav-item">
        <a class="nav-link" href="#"><h5>Request book</h5></a>
      </li>
      </li> 
        <li class="nav-item">
        <a class="nav-link" href="/upcoming_books"><h5>Upcoming books</h5></a>
      </li>
  
  </div>
</ul>
  

  <ul class="navbar-nav">
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/sign_in"><h5>Sign in</h5></a>
      </li>

      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/sign_out"><h5>Sign out</h5></a>
      </li>

     <!-- <form class="form-inline my-2 my-lg-0" action="/search" method="GET">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query" method = "GET">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </ul>
</nav>